 <div class="page-home">
    <div className='content'>
    <h1>
        Welcome to 
        <a
        target="_blank"
        href="https://imajs.io"
        rel="noopener noreferrer"
        >
        IMA.js
        </a>!
    </h1>
    <p>
        This is a simple example of a web application built with IMA.js.
    </p>
    </div>
</div>